/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F2E9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    text-align: center;
    background-color: #CAD9BA;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 20px -20px;
    font-size: 1.5rem;
}

/* Content Layout */
.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Detalles de Facturación */
.billing-details {
    width: 60%;
    background-color: #9ca68f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.billing-details h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.billing-details label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.billing-details input,
.billing-details select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1rem;
}

.name-fields, .doc-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.name-fields div,
.doc-fields div {
    flex: 1;
}

/* Resumen de Compra */
.order-summary {
    width: 35%;
    background-color: #f2eee3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-summary label {
    font-weight: bold;
}

.discount-code {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.discount-code input {
    flex: 1;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.discount-code button {
    padding: 10px 20px;
    background-color: #CAD9BA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-summary table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-summary th,
.order-summary td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.order-summary tfoot td {
    font-weight: bold;
}

.finalize-btn {
    width: 100%;
    padding: 10px;
    background-color: #A3B59F;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
